<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Forgot Password</title>
</head>
<body>
<section>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 200px;" class="col-md-12">

                        <!--                        email form-->
<!--                        <div th:if="${session.message}"   class="alert alert-primary text-center m-3" th:classappend="${session.message.type}" role="alert">-->
<!--                            <p class="text-center" th:text="${session.message.content}"></p>-->
<!--                            <div th:if="${session.message != null}">-->
<!--                                &lt;!&ndash; I consumed the message &ndash;&gt;-->
<!--                                <div th:text="${@sessionUtilityBean.removeMessageFromSession()}">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                        <h4 class="mt-4 ms-4">Enter new Password</h4>
                        <form action="" th:action="@{/change-password}" method="post">
                            <div class="form-group m-3 mt-4">
                                <input name="newpassword" type="text" class="form-control" placeholder="Enter New Password Here" required>

                            </div>
                            <div class="container text-center">
                                <button type="submit" class="btn btn-primary">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>